<h2>Gerenciar Mercadorias</h2>
<button (click)="addMerchandise()">Adicionar Mercadoria</button>

<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of merchandiseList">
      <td>{{ item.name }}</td>
      <td>{{ item.active ? 'Ativo' : 'Inativo' }}</td>
      <td>
        <button (click)="editMerchandise(item.id)">Editar</button>
        <button (click)="toggleActiveStatus(item.id)">
            {{ item.active ? 'Desativar' : 'Ativar' }}
        </button>
        <button (click)="deleteMerchandise(item.id)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>