<div class="sidebar" [class.collapsed]="isCollapsed">
  <button (click)="toggleSidebar()" class="toggle-button">
    <img src="/svg/Alface.svg" alt="Logo">
    <h1 class="LogoText">Verde Mais</h1>
  </button>
  <ul>
    @if (isAdmin()) {
      <li>
        <a routerLink="/dashboard/admin-dashboard">
          <img src="/svg/AdminDashboard.svg"/>
          <span>Vendas Realizadas</span>
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/gerenciar-mercadoria">
          <img src="/svg/ManageUsers.svg"/>
          <span>Gerenciar Mercadoria</span>
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/user-management">
          <img src="/svg/ManageUsers.svg"/>
          <span>Gerenciar Usuários</span>
        </a>
      </li>
    } @else {
      <li>
        <a routerLink="/dashboard/market">
          <img src="/svg/Mercado.svg"/>
          <span>Mercado</span>
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/history">
          <img src="/svg/Histórico.svg"/>
          <span>Histórico</span>
        </a>
      </li>
    }
    <li>
      <a routerLink="/dashboard/profile">
        <img src="/svg/Perfil.svg"/>
        <span>Perfil</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/contact">
        <img src="/svg/Contato.svg"/>
        <span>Contato</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/about">
        <img src="/svg/Sobre.svg"/>
        <span>Sobre</span>
      </a>
    </li>
  </ul>
</div>