@import "../../../styles/variables.scss";

.dashboard-container {
  display: flex;
  height: 100vh;

  .content-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
  }

  .main-content {
    flex-grow: 1;
    background-color: $green-bg;
    color: #555;
    padding: 20px;
    overflow-y: auto;
  }
  
}